.menu-bar,
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 100vh;
  // padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  overflow: hidden;
}

// .menu-overlay {
// }

.menu-bar {
  z-index: 99;
  mix-blend-mode: difference;

  .menu-logo {
    mix-blend-mode: difference;
    color: white;
  }
}

.menu-overlay-bar {
  .menu-logo {
    mix-blend-mode: difference;
  }
}

.menu-overlay-bar {
  position: absolute;
  top: 0;
  left: 0;
  // padding: 2em;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  z-index: 99;
}

.menu-open {

  z-index: 999;

}

.menu-open p {
  // border: solid 2px rgb(255, 255, 255);
  // padding: 4px 30px;
  // border-radius: 60%;
}

.menu-bar a,
.menu-open p {
  color: #161616;
  cursor: pointer;
}

.menu-close p {
  cursor: pointer;
  // color: #fff;
  // color: #e9e8e8;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background-color: #c5fb45;
  // background: rgb(10, 6, 80);
  // background: linear-gradient(180deg, rgba(5, 3, 53, 0.996) 0%, rgba(9, 9, 121, 1) 100%);
  z-index: 99;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  // color: #ffffff;

  &::after {
    content: "";
    background-color: #bcf240;
    // background-color: #12140e;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 3;
    // clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 77%);
    clip-path: circle(50% at 50% 50%);
    left: 0;
    top: 0;
    // bottom: -130px;
    // filter: blur(500px);
  }
}

.menu-close-icon {
  flex: 4;
  display: flex;
  align-items: flex-end;
  // cursor: pointer;
  bottom: -40%;
  position: relative;
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
  z-index: 99;
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
}

.menu-preview p {
  margin-top: 45em;
}

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 5px #c5fb45;
  line-height: 70%;
  animation: closeX 9s linear infinite;
  z-index: 5;
}

@keyframes closeX {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-holder {
  position: relative;
}

.menu-link-item-holder a {
  // color: #f5f5f5;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 110%;
}

.menu-info {
  display: flex;
}

.menu-info-col {
  margin-top: 13em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  z-index: 5;
}

.menu-info-social a {
  line-height: 150%;

}

// .menu-info-social {
//   transform: translateX(-40%);
// }

.menu-preview p {
  border: 2px solid rgb(19, 18, 18);
  padding: 14px 30px;
  border-radius: 100%;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-preview {
    display: none;
  }

  .menu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }
}

.path-logo {
  font-size: 1.5em;
  font-weight: 700;
}