.pageContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    color: #1b1b1b;
    transform: translateY(250px);
    width: 100%;

    .headerContent {
        position: relative;
        margin: 20px;
    }
}


//Header

.headerContainer_hd {
    height: 100vh;

    .headerHead_hd {
        text-align: center;

        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .headerButton_hd {
        margin-top: 30px;
        text-align: center;

        .headerButton_cta {
            padding: 16px 50px;
            border-radius: 50px;
            background-color: #141293;
            color: #fff;
            justify-content: center;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: #1613af;
                transform: scale(1.05);

                .headerButton_link svg {
                    transform: rotate(-45deg);
                }
            }

            .headerButton_link {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    transition: transform 0.3s ease-in-out;
                    transform: rotate(0deg);
                }
            }

        }
    }
}

.blurBg {
    position: absolute;
    width: 100%;
    // max-width: 100%;
    height: 100%;
    left: 0;
    top: -25%;
    z-index: -1;
    // overflow-x: hidden;

    // .blurBg_bg {
    //     position: absolute;
    //     width: 100%;
    //     max-width: 100%;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);

    //     img {
    //         position: absolute;
    //         height: auto;
    //         width: 1500px;
    //         max-width: 1700px;
    //         left: 50%;
    //         top: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    // }
}



@media (min-width: 1023px) {
    .pageContainer {
        position: relative;

        .headerContent {
            max-width: 1200px;
        }
    }

    .headerContainer_hd {
        .headerHead_hd {
            text-align: center;

            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                max-width: 900px;
                font-size: 3.3rem;
            }

            span {
                font-weight: 800;
            }
        }

        .subHeadTitle_hd {
            display: flex;
            margin: auto;
            justify-content: center;
            min-width: 400px;
            max-width: 700px;
            margin-top: 80px;

            p {
                font-size: 15px;
            }
        }
    }

    .blurBg {
        // overflow: hidden;
        position: absolute;
        // max-width: 500px;
        margin: auto;
        display: flex;
        justify-content: center;

        .blurBg_bg {
            position: absolute;
            width: 100%;
            // max-width: 100%;
            // left: 50%;
            right: 0;
            z-index: -223;

            img {
                top: 6rem;
                position: absolute;
                height: 888px;
                width: 984px;
                object-fit: fill;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%);
            }
        }
    }
}