@font-face {
    font-family: LeMurmure;
    src: url('./fonts/LeMurmure-Regular.woff2'), url('./fonts/LeMurmure-Regular.eot'), url('./fonts/LeMurmure-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$base-max-width: 1440px;
$base-max-margin: auto;

:root {

    --border-content: 1px solid #313131;
}




.page-header {
    .page-content {
        .page-wrapper {
            // opacity: 0;

            .page-stag {
                // opacity: 0;
                // clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
                // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%),
            }

            .tagger-tag {
                // position: absolute;
                top: 0;
                right: 64rem;
                background-color: rgb(51, 49, 49);
                transform: rotate(-15deg);
            }

            .title-top {
                opacity: 1;
            }

            .title-base {
                opacity: 1;
            }

            .title-x {
                line-height: 90%;
                font-family: 'LeMurmure';
            }

        }

    }
}




@media (100px <=width <=479px) {

    .title-x {
        font-size: 50px;
        line-height: 20%;
        font-family: 'LeMurmure';
        display: flex;
        flex: 2;
        flex-direction: row;
        text-align: center;
        transform: translate(0px, 20px);
    }

    .logosCircle-bagian {
        display: none;
    }

    .workRecents {
        .workShowoff {
            .workShowoff-title {
                .workShowoff-titleChild {
                    svg {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (480px <=width <=959px) {

    .title-x {
        font-size: 90px;
        line-height: 90%;
        font-family: 'LeMurmure';
        display: flex;
        flex: 4;
        flex-direction: row;
        text-align: center;
    }

    .logosCircle-bagian {
        display: none;
    }

    // .workRecents>.svgPath {
    //     display: none;
    // }
}


@media (960px <=width <=1203px) {
    .title-x {
        font-size: 190px;
        display: flex;
        flex: 4;
        flex-direction: row;
    }
}

@media (width >=1204px) {
    .title-x {
        font-size: 190px;
        display: flex;
        flex: 4;
        flex-direction: row;
    }

    .path-p-side {
        font-size: 20px;
    }

    .page-container {
        width: $base-max-width;
        margin: $base-max-margin;
    }
}

.pageBig-headtitle {
    border-radius: 20px;
    color: #ffffff;
    // background-color: #111;
    border: var(--border-content);
    max-width: fit-content;


    .pageBig-item {
        border-radius: 18px;
        background-color: #0a0a0a;
        margin: 35px;
    }
}

.logosCircle-bagian {
    animation: bagianLogos 40s linear infinite;
}

@keyframes bagianLogos {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.workShowoff {
    height: min-content;
    overflow: hidden;

    .workShowoff-titleChild {
        line-height: 140px;
    }

    .workShowoff-title {
        font-weight: 800;
        font-size: 12em;
        text-transform: uppercase;
    }
}

.imageData {
    height: 800px;
    width: 100%;
}

.pageLink {
    .labelLink {
        font-size: 0.8em;
        color: #ffffff;

        .labelSide-border {
            border: 1px solid #b3b3b3;
            border-radius: 10px;

        }
    }
}