@font-face {
    font-family: LeMurmure;
    src: url('./fonts/LeMurmure-Regular.woff2'), url('./fonts/LeMurmure-Regular.eot'), url('./fonts/LeMurmure-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-header {
    .page-content {
        .page-wrapper {
            // opacity: 0;

            .page-stag {
                // opacity: 0;
                // clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
                // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%),
            }

            .tagger-tag {
                // position: absolute;
                top: 0;
                right: 64rem;
                background-color: rgb(51, 49, 49);
                transform: rotate(-15deg);
            }

            .title-top {
                opacity: 0;
            }

            .title-base {
                opacity: 0;
            }

            .title-x {
                line-height: 90%;
                font-family: 'LeMurmure';
            }

        }

    }
}




@media (100px <=width <=479px) {

    .title-x {
        font-size: 50px;
        line-height: 20%;
        font-family: 'LeMurmure';
        display: flex;
        flex: 2;
        flex-direction: row;
        text-align: center;
        transform: translate(0px, 20px);
    }
}

@media (480px <=width <=959px) {

    .title-x {
        font-size: 90px;
        line-height: 90%;
        font-family: 'LeMurmure';
        display: flex;
        flex: 4;
        flex-direction: row;
        text-align: center;
    }
}

@media (960px <=width <=1203px) {
    .title-x {
        font-size: 190px;
        display: flex;
        flex: 4;
        flex-direction: row;
    }
}

@media (width >=1204px) {
    .title-x {
        font-size: 190px;
        display: flex;
        flex: 4;
        flex-direction: row;
    }
}