// @font-face {
//     font-family: LeMurmure;
//     src: url('./fonts/LeMurmure-Regular.woff2'), url('./fonts/LeMurmure-Regular.eot'), url('./fonts/LeMurmure-Regular.woff') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: LeMurmure;
    src: url('./fonts/LeMurmure-Regular.woff2'), url('./fonts/LeMurmure-Regular.woff2'), url('./fonts/LeMurmure-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

$base-max-width: 1440px;
$base-max-margin: auto;
$base-max-margin-container: 5rem;
$base-before-color-bg: rgb(20, 36, 115);
$base-after-color-bg: rgb(40, 93, 109);
$base-partnerIncase-bg: rgb(15, 15, 18);

:root {

    --border-content: 1px solid #313131;
}




.page-header {
    .page-content {
        // overflow: hidden;

        .page-container {
            // opacity: 0;

            .page-stag {
                // opacity: 0;
                // clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
                // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%),
            }

            .tagger-tag {
                // position: absolute;
                top: 0;
                right: 64rem;
                background-color: rgb(51, 49, 49);
                transform: rotate(-15deg);
            }

            .title-top {
                opacity: 1;
            }

            .title-base {
                opacity: 1;
            }
        }
    }
}




@media (100px <=width <=479px) {

    .title-x {
        font-size: 80px;
        line-height: 20%;
        font-family: 'LeMurmure';
        display: flex;
        flex: 2;
        flex-direction: row;
        text-align: center;
        transform: translate(0px, 20px);
    }

    .logosCircle-bagian {
        display: none;
    }

    .workRecents {
        margin-top: 20em;

        .page-container {
            .pageContent {
                margin: 30px;
            }
        }

        .workShowoff {

            .workShowoff-title {
                margin-bottom: 5px;

                .workShowoff-titleChild {
                    svg {
                        display: none;
                    }
                }
            }
        }
    }

    .path-p-side {
        margin-top: 5em;
        font-size: 14px;
    }

    .pageBig-headtitle {
        margin: 10em 20px;

        img {
            display: none;
        }

        .pageBig-intro {
            font-size: 4rem;
        }

        .pageBig-about {
            font-size: 14px;
        }
    }

    .workShowoff {
        margin: 30px;

        .workShowoff-titleChild {
            line-height: 75px;
        }

        .workShowoff-title {
            font-weight: 800;
            font-size: 4em;
            text-transform: uppercase;
        }

        .workShowoff-end {
            display: none;
        }
    }

    .imageData {
        height: 480px;
        width: 100%;
    }

    .marqueeContainer {
        overflow: hidden;

    }

    .labelLink {
        display: none;
    }
}

.pageBig-about {
    line-height: 1.7em;
}

@media (480px <=width <=959px) {


    .title-x {
        font-size: 8em;
        line-height: 90%;
        font-family: 'LeMurmure';
        display: flex;
        flex: 4;
        flex-direction: row;
        text-align: center;
    }

    .logosCircle-bagian {
        display: none;
    }

    // .workRecents>.svgPath {
    //     display: none;
    // }
    .pageBig-headtitle {
        margin: 10em 20px;

        .pageBig-intro {
            font-size: 6rem;
        }
    }

    .workRecents {
        margin-top: 20em;

        .page-container {
            .pageContent {
                margin: 20px;
            }
        }

        .workShowoff {

            .workShowoff-title {
                margin-bottom: 2px;

                .workShowoff-titleChild {
                    svg {
                        display: none;
                    }
                }
            }
        }
    }

    .workShowoff {
        margin: 20px;

        .page-container {
            .pageContent {
                margin: 20px;
            }
        }


        .workShowoff-title {
            font-weight: 800;
            font-size: 7em;
            text-transform: uppercase;
        }

        .workShowoff-end {
            display: none;
        }
    }

    .imageData {
        height: 480px;
        width: 100%;
    }
}


@media (960px <=width <=1203px) {
    .title-x {
        font-size: 190px;
        display: flex;
        flex: 4;
        flex-direction: row;
    }

    .pageBig-headtitle {
        margin: 10em 60px;


        .pageBig-intro {
            font-size: 6rem;
        }

        .pageBig-about {
            font-size: 14px;
        }
    }

    .workRecents {
        margin-top: 20em;

        .page-container {
            .pageContent {
                margin: 50px;
            }
        }

        .workShowoff {
            margin: 50px;
            height: 122px;
            line-height: 20px;
            margin-bottom: 125px;

            .workShowoff-title {
                margin-bottom: 45px;

                .workShowoff-titleChild {
                    svg {
                        display: none;
                    }
                }
            }
        }
    }


    .workShowoff-title {
        font-weight: 800;
        font-size: 10em;
        text-transform: uppercase;
    }

    .imageData {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

@media (width >=1204px) {
    .title-x {
        font-size: 290px;
        display: flex;
        flex: 4;
        flex-direction: row;
    }

    .path-p-side {
        font-size: 20px;
    }

    .workRecents {
        .workShowoff {
            max-width: $base-max-width;
            margin: $base-max-margin;
        }

        .page-container {
            margin: $base-max-margin;

            .page-wrapper {
                max-width: $base-max-width;

            }
        }
    }

    .content-items {
        overflow: hidden;

        .imageData {
            height: 800px;
            width: 800px;
            object-fit: cover;
        }
    }

    .workShowoff {
        .workShowoff-titleChild {
            line-height: 120px;
        }

        .workShowoff-title {
            font-weight: 800;
            font-size: 10em;
            text-transform: uppercase;
        }

    }

    .workRecents {
        margin-top: 20em;

        .page-container {
            .pageContent {
                margin: 50px;
            }
        }

        .workShowoff {
            height: 122px;
            line-height: 20px;
            margin-bottom: 125px;
        }
    }

    .page-container {
        margin-top: 35rem;
        margin: $base-max-margin-container;

        .pageBig-headtitle {
            border: var(--border-content);
            max-width: $base-max-width;
            margin: $base-max-margin;

        }
    }

    .partnerIncase-container {
        border-radius: 60px;

        .partnerIncase-wrapper {
            max-width: $base-max-width;
        }
    }
}

.partnerIncase-bg {
    background-color: $base-partnerIncase-bg;
}

.page-container {

    .pageBig-headtitle {
        border-radius: 20px;
        color: #ffffff;
        border: var(--border-content);
        max-width: $base-max-width;


        .pageBig-item {
            border-radius: 18px;
            background-color: #0a0a0a;
            margin: 35px;
        }
    }
}

.logosCircle-bagian {
    animation: bagianLogos 40s linear infinite;
}

@keyframes bagianLogos {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.workShowoff {
    height: min-content;
    overflow: hidden;

    // .workShowoff-titleChild {
    //     line-height: 140px;
    // }

    // .workShowoff-title {
    //     font-weight: 800;
    //     font-size: 12em;
    //     text-transform: uppercase;
    // }
}

.pageBig-item {
    z-index: 2;

    &::before {
        background-color: $base-before-color-bg;
        position: absolute;
        z-index: -1;
        bottom: -260px;
        left: -340px;
        content: "";
        height: 440px;
        width: 440px;
        border-radius: 100%;
        filter: blur(280px);
        -o-filter: blur(280px);
        -ms-filter: blur(280px);
        -moz-filter: blur(280px);
        -webkit-filter: blur(280px);
    }

    &::after {
        background-color: $base-after-color-bg;
        position: absolute;
        z-index: -1;
        top: -260px;
        right: -340px;
        content: "";
        height: 440px;
        width: 440px;
        border-radius: 100%;
        filter: blur(280px);
        -o-filter: blur(280px);
        -ms-filter: blur(280px);
        -moz-filter: blur(280px);
        -webkit-filter: blur(280px);
    }
}

.pageLink {
    .labelLink {
        font-size: 0.8em;
        color: #ffffff;

        .labelSide-border {
            border: 1px solid #b3b3b3;
            border-radius: 10px;

        }
    }
}


.page-content {
    .page-wrapper {
        .page-stag {
            .title-x {
                font-family: 'LeMurmure';
                line-height: 1em;
            }
        }
    }
}